Frontend/node_modules/
# Frontend/dist/
# Frontend/build/
Frontend/.env
Backend/.env
Backend/db.sqlite3
Backend/jobs/__pycache__/job_sources.cpython-314.pyc
Backend/jobs/__pycache__/views.cpython-314.pyc